a.button
    padding: .25rem .5rem;
    border-radius: 2px;
    font-size: 14px
    margin: 5px
    &.solid-blue
        background: $brand-blue
        color: white
        border: 1px solid $brand-blue
    &.outline-blue
        color: $brand-blue
        border: 1px solid $brand-blue
    &.solid-orange
        background: $brand-orange
        color: $brand-body-text
        border: 1px solid $brand-orange
    &.outline-orange
        color: $brand-orange
        border: 1px solid $brand-orange
    &.solid-white
        background: white
        color: white
        border: 1px solid white
    &.outline-white
        color: white
        border: 1px solid white