.flex-grid 
    display: flex
    flex-flow: row wrap
    .row 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    .flex1
        flex: 1 400px
    .flex2
        flex: 2 400px
    .flex3
        flex: 3 400px
    .flex4
        flex: 4 400px
    *:not(:last-of-type)
        margin-right: 20px

@media screen and (max-width: 899px)
    .flex-grid
        *:not(:last-of-type)
            margin-right: 0