$flex-basis: 400px
$flex-gutter: 15px
    
.flex-grid 
    display: flex
    flex-flow: row wrap
    margin-left: -$flex-gutter
    margin-right: -$flex-gutter
    [class*="flex"] 
        flex-basis: $flex-basis
        margin-right: $flex-gutter
        margin-left: $flex-gutter
    .flex1
        flex-grow: 1 
        flex-shrink: 1
    .flex2
        flex-grow: 2
        flex-shrink: 2
    .flex3
        flex-grow: 3
        flex-shrink: 3
    .flex4
        flex-grow: 4
        flex-shrink: 4
