form
    text-align: left
    .field
        position: relative
        width: 100%
        margin-bottom: 1rem
    label, textarea
        position: relative
        width: 100%

    input, textarea
        border: 1px solid $brand-dark-blue
        padding: 6px
        font-size: 14px
        border-radius: 2px
        width: calc(100% - 14px)
        color: #505050
        