.header-image
    position: absolute
    width: 100%
    top: 0
    left: 0
    z-index: -1
    &.half-height
        height: 60vh
    &.full-height
        height: 100vh
    .header-image__title-container 
        position: absolute
        top: 50%
        transform: translate(0%,-50%)
        font-family: Montserrat
        font-size: 32px
        color: white
        font-weight: bold
        .title-container__title
            font-family: Chakra Petch
            font-size: 95px
            line-height: 1
            white-space: pre-wrap
        .title-container__subTitle
            margin-top: 15px
            padding-top: 20px
            font-size: 24px
            border-top: 1px solid white
            font-weight: 400
    
