.section-title 
    font-family: Chakra Petch
    margin-bottom: 30px
    .section-title__category
        color: $brand-orange
        text-transform: uppercase
        font-size: 28px
    .section-title__title
        margin-bottom: 10px
        font-size: 48px
        font-weight: bold
        line-height: 1
    .blue
        color: $brand-blue
    .white
        color: white
    .black
        color: #333
    .orange
        color: $brand-orange
    .link-icon
        vertical-align: top;
        font-size: 0.8rem;
        margin-top: auto;
        position: relative;
        top: 5px;