.section-title 
    font-family: Chakra Petch
    .section-title__category
        color: $brand-orange
        text-transform: uppercase
        font-size: 28px
    .section-title__title
        color: $brand-blue
        margin-bottom: 10px
        font-size: 48px
        font-weight: bold
        line-height: 1