.top-margin-20
    margin-top: 20px
.top-margin-40
    margin-top: 40px
.bottom-margin-20
    margin-bottom: 20px
.bottom-margin-40
    margin-bottom: 40px


.picture
    border: 1px solid $brand-blue
    box-shadow: 0 0 10px #0000001f
    border-radius: 2px
    background: white
    > *
        margin: 10px
.text-center
    text-align: center
.text-right
    text-align: right
.text-left
    text-align: left
.text-white
    color: white